In [8]:
import pandas as pd

# 读取 CSV 文件

df_process = pd.read_csv("../query_stockindex/ground_truth_dataset/indextrade_gt.csv")
df_info = pd.read_csv("../query_stockindex/ground_truth_dataset/indexInfo_gt.csv")

In [9]:
df_process

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [10]:
df_KS = df_process[df_process["Index"] == "KS11"]

df_KS

Empty DataFrame
Columns: [Index, Date, Open, High, Low, Close, Adj Close, Volume, CloseUSD]
Index: []

In [5]:
df_info

           Region                          Exchange      Index Currency
0   United States           New York Stock Exchange        NYA      USD
1   United States                            NASDAQ       IXIC      USD
2       Hong Kong          Hong Kong Stock Exchange        HSI      HKD
3           China           Shanghai Stock Exchange  000001.SS      CNY
4           Japan              Tokyo Stock Exchange       N225      JPY
5          Europe                          Euronext       N100      EUR
6           China           Shenzhen Stock Exchange  399001.SZ      CNY
7          Canada            Toronto Stock Exchange     GSPTSE      CAD
8           India  National Stock Exchange of India       NSEI      INR
9         Germany          Frankfurt Stock Exchange      GDAXI      EUR
10          Korea                    Korea Exchange       KS11      KRW
11    Switzerland                SIX Swiss Exchange       SSMI      CHF
12         Taiwan             Taiwan Stock Exchange       TWII      TWD
13   South Africa       Johannesburg Stock Exchange    J203.JO      ZAR

In [8]:
# 定义亚洲地区的指数列表
asian_indices = ["HSI", "000001.SS", "399001.SZ", "N225", "KS11", "NSEI", "TWII"]

# Filter for Asian indices
df_asian = df_process[df_process["Index"].isin(asian_indices)].copy()

# Calculate intraday volatility
df_asian["volatility"] = (df_asian["High"] - df_asian["Low"]) / df_asian["Open"]

# Convert Date and filter for 2020 and later
df_asian["Date"] = pd.to_datetime(df_asian["Date"])
df_asian_recent = df_asian[df_asian["Date"] >= "2020-01-01"].copy()

# Compute average volatility since 2020
avg_vol_recent = df_asian_recent.groupby("Index")["volatility"].mean().reset_index()
avg_vol_recent = avg_vol_recent.sort_values("volatility", ascending=False).reset_index(drop=True)

avg_vol_recent

       Index  volatility
0  399001.SZ    0.018341
1       NSEI    0.017072
2        HSI    0.014932
3  000001.SS    0.013781
4       N225    0.013427
5       TWII    0.013225